@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 17% 96%;
    --foreground: 24 6% 12%;
    --card: 36 14% 97%;
    --card-foreground: 24 6% 12%;
    --popover: 36 14% 97%;
    --popover-foreground: 24 6% 12%;
    --primary: 24 6% 18%;
    --primary-foreground: 36 17% 96%;
    --secondary: 30 12% 90%;
    --secondary-foreground: 24 6% 16%;
    --muted: 30 12% 90%;
    --muted-foreground: 25 5% 40%;
    --accent: 30 12% 90%;
    --accent-foreground: 24 6% 16%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 28 10% 80%;
    --input: 28 10% 80%;
    --ring: 24 6% 18%;
    --radius: 0.625rem;
    --sidebar-background: 36 14% 97%;
    --sidebar-foreground: 24 6% 22%;
    --sidebar-primary: 24 6% 18%;
    --sidebar-primary-foreground: 36 17% 96%;
    --sidebar-accent: 30 12% 90%;
    --sidebar-accent-foreground: 24 6% 16%;
    --sidebar-border: 28 10% 80%;
    --sidebar-ring: 24 6% 18%;
  }

  .dark {
    --background: 24 7% 8%;
    --foreground: 36 16% 92%;
    --card: 24 7% 10%;
    --card-foreground: 36 16% 92%;
    --popover: 24 7% 10%;
    --popover-foreground: 36 16% 92%;
    --primary: 36 12% 84%;
    --primary-foreground: 24 7% 12%;
    --secondary: 24 7% 16%;
    --secondary-foreground: 36 16% 92%;
    --muted: 24 7% 16%;
    --muted-foreground: 30 10% 70%;
    --accent: 24 7% 16%;
    --accent-foreground: 36 16% 92%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 24 7% 20%;
    --input: 24 7% 20%;
    --ring: 36 12% 84%;
    --sidebar-background: 24 7% 10%;
    --sidebar-foreground: 36 16% 92%;
    --sidebar-primary: 36 12% 84%;
    --sidebar-primary-foreground: 24 7% 12%;
    --sidebar-accent: 24 7% 16%;
    --sidebar-accent-foreground: 36 16% 92%;
    --sidebar-border: 24 7% 20%;
    --sidebar-ring: 36 12% 84%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}